.mat-form-field-underline {
  bottom: 0;
}
.mat-form-field-wrapper.ng-tns-c57-0 {
  position: relative;
  padding-bottom: 0px;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field-wrapper .ng-tns-c57-0 {
  padding-bottom: 0;
}

.long {
  width: 80vw;
}

.medium {
  width: 50vw;
}

.short {
  width: 30vw;
}
